[submodule "tests/c-testsuite"]
	path = tests/c-testsuite
	url = https://github.com/c-testsuite/c-testsuite.git
[submodule "tests/llvm-test-suite"]
	path = tests/llvm-test-suite
	url = https://github.com/llvm/llvm-test-suite.git
[submodule "tests/linux"]
	path = tests/linux
	url = https://github.com/torvalds/linux.git
