# Build outputs
/build/
/build*
# Generated artifacts
*.ll
*.o
/out
*.log

# Reference artifacts we want to keep
!ref/amd64_varargs/
!ref/amd64_varargs/**

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# other
.vscode
Testing
